
@media (min-width: 576px) {
    .hero__subtitle {
        font-size: 22px;
    }
    .hero__title {
        font-size: 50px;
    }
    .category__title {
        font-size: 30px;
    }
    .portfolio__item:nth-child(even) {
        justify-content: flex-end;
    }
    .portfolio__item a {
        width: 90%;
    }
    .portfolio__image {
        height: 350px;
    }
    .stat {
        padding: 40px 0;
    }
}
@media (min-width: 768px) {
    .hero__subtitle {
        font-size: 25px;
    }
    .hero__title {
        font-size: 70px;
    }
    .category__title {
        font-size: 40px;
    }
    .category__item>div {
        width: 90%;
    }
    .category__image img {
        height: 350px;
    }
    .category__item:nth-child(even) {
        display: flex;
        justify-content: flex-end;
    }
    .menu-list {
        font-size: 35px;
    }
    .header img {
        height: 30px;
    }
    .portfolio__item:nth-child(even) {
        justify-content: flex-start;
    }
    .portfolio__item:nth-child(3n-1) {
        justify-content: center;
    }
    .portfolio__item:nth-child(3n) {
        justify-content: flex-end;
    }
    .stat {
        padding: 70px 0;
    }
    .quote blockquote {
        font-size: 40px;
    }
    .contact__image {
        display: block;
    }
}
@media (min-width: 992px) {
    .hero__subtitle {
        font-size: 28px;
    }
    .hero__title {
        font-size: 70px;
    }
    .hero_link {
        font-size: 20px;
    }
    .category__title {
        font-size: 50px;
    }
    .menu-list {
        font-size: 50px;
    }
    .header img {
        height: 35px;
    }
    .portfolio__image {
        height: 450px;
    }
    .author {
        height: initial;
    }
    .about.hero {
        display: none;
    }
    .author__bio {
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .hero__subtitle {
        font-size: 30px;
    }
    .hero__title {
        font-size: 100px;
    }
    .category__title {
        font-size: 55px;
    }
    .category__item>div {
        width: 70%;
    }
    .category__image img {
        height: 400px;
    }
    .category__item:nth-child(even) {
        display: block;
    } 

    .category__item:nth-child(3n-1) {
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }
    .category__item:nth-child(3n) {
        display: flex;
        justify-content: flex-end;
    }
    .category {
        padding: 40px 0;
    }
    .portfolio__image {
        height: 500px;
    }
}
@media (min-width: 1400px){
    .hero__subtitle {
        font-size: 35px;
    }
    .hero__title {
        font-size: 120px;
    }
}
